html,body{
  margin: 0;
  padding: 0;
}

.img-logo{
  width: 80px;
  margin-left: 2%;
}

.navbar{
  width: 100%;
  background-color: #477EDE;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
}

.navbar-search{
  display: flex;
  align-items: center;
  gap: 5%;
  justify-content: center;
  margin-right: 2%;
}

body{
  min-height: 100vh;
  background-color: #c6d8fa;
  overflow: hidden;
}

.pokemon{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.pokemon-type{
  display: flex;
  gap: 20%;
  padding: 0;
}
.pokemon-type li{
  list-style: none;
}

.pokemon-profile{
  width: 15%;
}

.pokemon-moves.hidden {
  display: none;
}

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
#root{
  height: 100vh;
}


.list-container{
  text-align: center;
  margin-top: 3%;
}

.button-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 100%;
}

.btn-page{
  width: 100px;
  height: 50px;
  cursor: pointer;
}

.features-container {
  margin-top: 5%;
  width: 100%;
  display: flex;
  gap: 5%;
  justify-content: center;
}

.features {
  width: 200px;
  background-image: url('./assets/sfondoFeatures1.PNG');
  background-position: center;
  background-size: cover;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.features-link{
  color: white;
  text-decoration: none;
  font-size: 23px;
}