.img-logo{
  width: 6%;
  margin-left: 2%;
}

.navbar{
  width: 100%;
  background-color: #477EDE;
  display: flex;
  align-items: center;
  height: 50px;
  justify-content: space-between;
}

.navbar-search{
  display: flex;
  align-items: center;
  gap: 5%;
  justify-content: center;
  margin-right: 2%;
}

body{
  min-height: 100vh;
  background-color: #c6d8fa;
}

.pokemon{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}
.pokemon-type{
  display: flex;
  gap: 20%;
  padding: 0;
}
.pokemon-type li{
  list-style: none;
}

.pokemon-profile{
  width: 15%;
}

.pokemon-moves.hidden {
  display: none;
}